@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588953750016'); /* IE9 */
  src: url('iconfont.eot?t=1588953750016#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABrgAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBGIEiATYCJAMMCwgABCAFhG0HPRvvBRHVkxlkf4Uocmk/BwASjRXm6AR2utGevcy9nte3mU9woqPLDyIBAhoAAAAAIIKn/WjzdvfLmae7hFhSk0TomiA1GlUsQSgaxTMeAN/YcAxyLlzr4l2uRCAC7Aoz7Hr9RllpqakAKy81BdHaojT4quySnO1uuYvdnTnD6Pk/OrC5GfZrVIRiSc6D/+U70g3phfDDJ+6d/gkUyHyW5TLH1qgLMA4ooL0xiqyIAuAW2UXciYt4TKDThFli7fqte7UKtCoQVy9dOKUtxBXFKLVC3XCwiLsqbbqdXuBO9P34YnYgSZWhjTvPrztr5Xvv7/8f5YQEQT5eIWMWCnG8MX9QFgYn69SX7tpaEdJcKSK5b6x3+sdLRA01d4NpciHxXioieP8RCWRQF4szsUBhh7eEGAVRf7RhM/0bmx+pqihm7XAT2URM+PlDt+S1T0NSIUsdH2fRjem+2r2G1pyf250VSxRpolEJOAn9TPoVnyF9SgSC5zySLF1XAa/6yFrAgrTnCQT/TQHsK74KOXJx5VQeBrNRgDchS82Q/yg86N144wi4ndAaGRFsjGfIWpPIws5Cpctc1For0GmmDce7DLkmi9KBGa5LCP3uIen1AFm/l2Rh36Iy6htq/QHotD+GLuwiT4mk1jBqQQfmD8nS4YlLVNx6x3BVzXlVxH0jnykFUz+WSxseyHNsOT9hFvHgmXZYpeewVoLGlNFKH0XaMgy+6U29pb1T1jBqQQfMHyRLh+fDRVU+f8dwVc0dPT3xN/KZxgeT3gggN/0B6rmXV85PmIl44Jl2sErzsFYCrXleRiu9OCLbFgMe5KH6fn3j/n1HoBPanyNFjqI5dYSKV7tFNY6+R9cBAA==') format('woff2'),
  url('iconfont.woff?t=1588953750016') format('woff'),
  url('iconfont.ttf?t=1588953750016') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588953750016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angleup:before {
  content: "\e639";
}

.icon-angledown:before {
  content: "\e6dd";
}

